body {
height: 100vh;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
}

html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }

.first {
background-color: #1F2937;

}

.header {
display: flex;
margin-bottom: auto;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding:15px;
font-size: 16px;
}

.logo {
display: flex;
width: 70px;
height: 70px;
flex-direction: row;
}

ul {
list-style-type: none;
display: flex;
flex-direction: row;
text-decoration: none;
gap: 10px;
}

a {
text-decoration: none;
color: #f9faf8;
    }

.main {font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding-bottom: 5px;
    width: 100%;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
    width: 100%;
    padding: 2px;
    padding-right: 50%;
}

.first2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 25px;
    gap: 20px;
}

.middle {
    display: flex;
    flex-wrap: wrap;
}

.vid {
    display: flex;
    flex-shrink: 2;
    margin-left: 20px;
}

button {
background-color: #3882F6;
border: 0px;
color: #FFFFFF;
font-weight: bold;
padding-left: 20px;
padding-right: 20px;
padding-top: 6px;
padding-bottom: 6px;
border-bottom-left-radius: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
}

.middle button {
    margin-top: 5px;
}

.second {
    background-color: #FFFFFF;
    padding: 20px;
    padding-bottom: 60px;
}

.random {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 25%;
}

.images {
display: flex;
flex-direction: row;
padding: 10px;
justify-content: center;
align-items: center;
gap: 50px;
}

.descriptions {
    text-align: center;
    font-size: 18px;
    color: #1F2937;
    font-weight: 500;
}

.third {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5px;
}

.speaker {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    align-self: flex-end;
}

.mj {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.fourth {
background-color: #FFFFFF;
padding: 20px;
padding-bottom: 60px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}